html, body{
    width: 100%;
    height: 100%
}

#pageApplyQuestionnaire{
    background-color: #e2e2b9;
    width: 100%;
    height: 100%;
}

#detectSLogo{
    display: block;
    height: 25%;
    padding-top: 70px;
    margin: 0 auto
}

#title{
    text-align: center
}

#btnApplyQuestionnaire{
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%
}

